@keyframes logo-anim-left {
    0% {height: 1.25rem;}
    10% {height: 2.1875rem;}
    20% {height: 1.25rem;
        align-self: flex-start;}
    30% {height: 2.1875rem;}
    40% {height: 1.25rem;
        align-self: flex-end;}
}

@keyframes logo-anim-right {
    60% {height: 2.1875rem;}
    70% {height: 1.25rem;}
    80% {height: 2.1875rem;}
}