.features {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.features__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
}

.features__title {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    color: var(--text-primary-color);
}

.features__description {
    width: 60%;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;
    text-align: center;
    color: var(--text-secondary-color);
}

.features__content {
    width: 100%;
    display: inline-block;
    margin-top: 6.25rem;
    column-count: 2;
    gap: 3.125rem;
}

.features__content > ul {
    padding: 0;
}

.features__content-feature {
    display: flex;
    align-items: center;
    width: 100%;
    height: 22.375rem;
    gap: 1.875rem;
    margin-bottom: 3.125rem;
    background-repeat: no-repeat;
    background-position-x: right;
}

.features__content-feature.first {
    background-image: url("../images/features_bg_1.svg");
    opacity: 0;
    transform: translateX(-4rem);
    transition: transform .4s .25s ease-out,
                opacity .4s .25s ease-out;
    will-change: opacity, transform;
}

.features__content-feature.first.is-visible {
    transform: translateX(0rem);
    opacity: 1;
}

.features__content-feature.second {
    background-image: url("../images/features_bg_2.svg");
    opacity: 0;
    transform: translateX(-4rem);
    transition: transform .4s .25s ease-out,
                opacity .4s .25s ease-out;
    will-change: opacity, transform;
}

.features__content-feature.second.is-visible {
    transform: translateX(0rem);
    opacity: 1;
}

.features__content-feature.third {
    background-image: url("../images/features_bg_3.svg");
    opacity: 0;
    transform: translateX(4rem);
    transition: transform .4s .25s ease-out,
                opacity .4s .25s ease-out;
    will-change: opacity, transform;
}

.features__content-feature.third.is-visible {
    transform: translateX(0rem);
    opacity: 1;
}

.features__content-feature.fourth {
    background-image: url("../images/features_bg_4.svg");
    opacity: 0;
    transform: translateX(4rem);
    transition: transform .4s .25s ease-out,
                opacity .4s .25s ease-out;
    will-change: opacity, transform;
}

.features__content-feature.fourth.is-visible {
    transform: translateX(0rem);
    opacity: 1;
}

.features__content-feature-image {
    margin-top: 4.5625rem;
    width: 14.5rem;
    height: fit-content;
}

.features__content-feature-info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-self: center;
}

.features__content-feature-title {
    font-family: Helvetica;
    width: 95%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: var(--text-primary-color);
}

.features__content-feature-description {
    width: 95%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: var(--text-secondary-color);
}

.features__content-feature-learn-more {
    display: flex;
    gap: 1.25rem;
    width: fit-content;
}

.features__content-feature-learn-more-text {
    font-weight: 800;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0.005rem;
    color: var(--text-primary-color);
}

.features__content-feature-learn-more-arrow {
    margin-top: 0.3rem;
}

@media screen and (min-width: 1680px) {
  
    .features__content-feature.first {
        background: var(--bg-green-color);
        background-attachment: fixed;
        border-radius: 3.125rem;
        opacity: 0;
        transform: translateX(-4rem);
        transition: transform .4s .25s ease-out,
                    opacity .4s .25s ease-out;
        will-change: opacity, transform;
    }

    .features__content-feature.first.is-visible {
        transform: translateX(0rem);
        opacity: 1;
    }

    .features__content-feature.second {
        background: var(--bg-secondary-color);
        background-attachment: fixed;
        border-radius: 3.125rem;
        opacity: 0;
        transform: translateX(-4rem);
        transition: transform .4s .25s ease-out,
                    opacity .4s .25s ease-out;
        will-change: opacity, transform;
    }

    .features__content-feature.second.is-visible {
        transform: translateX(0rem);
        opacity: 1;
    }

    .features__content-feature.third {
        background: var(--bg-primary-color);
        background-attachment: fixed;
        border-radius: 3.125rem;
        opacity: 0;
        transform: translateX(4rem);
        transition: transform .4s .25s ease-out,
                    opacity .4s .25s ease-out;
        will-change: opacity, transform;
    }

    .features__content-feature.third.is-visible {
        transform: translateX(0rem);
        opacity: 1;
    }

    .features__content-feature.fourth {
        background: var(--bg-blue-color);
        background-attachment: fixed;
        border-radius: 3.125rem;
        opacity: 0;
        transform: translateX(4rem);
        transition: transform .4s .25s ease-out,
                    opacity .4s .25s ease-out;
        will-change: opacity, transform;
    }

    .features__content-feature.fourth.is-visible {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@media screen and (max-width: 1100px) {

    .features__content-feature-image {
        width: 50%;
    }

    .features__content {
        column-count: 1;
    }

    .features__content-feature {
        width: 80%;
        margin: 1.5rem auto;
    }

}

@media screen and (max-width: 768px) {

    .features__content {
        gap: 1.5rem;
    }

    .features__content-feature {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .features__content-feature.first {
        background: var(--bg-green-color);
        background-attachment: fixed;
        border-radius: 3.125rem;
    }
    
    .features__content-feature.second {
        background: var(--bg-secondary-color);
        background-attachment: fixed;
        border-radius: 3.125rem;
    }
    
    .features__content-feature.third {
        background: var(--bg-primary-color);
        background-attachment: fixed;
        border-radius: 3.125rem;
    }
    
    .features__content-feature.fourth {
        background: var(--bg-blue-color);
        background-attachment: fixed;
        border-radius: 3.125rem;
    }

    .features__content-feature-title {
        margin: 0 auto;
    }

    .features__content-feature-description {
        margin: 0 auto;
    }

    .features__content-feature-image {
        margin: 0;
        width: 40%;
    }

    .features__content-feature-learn-more {
        margin: 0 auto;
    }

}