<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 5</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container__create" id="createcat">
        <header class="header">
            <div class="header__left">
                <div class="header__title">Cats!</div>
                <nav class="header__nav">
                    <ul>
                        <li class="header__nav-item"><a href="/cats">My Cats</a></li>
                        <li class="header__nav-item selected"><a href="/cats/create">Create Cat</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {{{body}}}
    </div>
</body>
</html>