<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 5</title>
    <link rel="stylesheet" href="css/styles.css">
    <script type="module" src="../js/index.js"></script>
</head>

<body>
    <div class="container" id="mycats">
        <header class="header">
            <div class="header__left">
                <div class="header__title">Cats!</div>
                <nav class="header__nav">
                    <ul>
                        <li class="header__nav-item selected"><a href="/cats">My Cats</a></li>
                        <li class="header__nav-item"><a href="/cats/create">Create Cat</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__search">
                <input type="text" placeholder="Type something..." class="header__search-input" id="find_input">
                <div class="header__search-buttons">
                    <button class="header__search btn-blue" id="search_button">Search</button>
                    <button class="header__search-clear btn-red" id="clear_button">Clear</button>
                </div>
            </div>
        </header>
        <main class="main">
            <aside class="aside">
                <div class="aside__title">Manage cats</div>
                <div class="aside__sort">
                    <div class="aside__sort-text">Sort by the most cute cats</div>
                    <label class="aside__sort-switch">
                        <input type="checkbox" id="sort_checkbox">
                        <span class="aside__sort-slider"></span>
                    </label>
                </div>
                <div class="aside__divider"></div>
                <div class="aside__count">
                    <div class="aside__count-title">Count those cute little bastards: </div>
                    <button class="aside__count-button btn-blue" id="count_button">Count</button>
                    <div class="aside__count-results">
                        <div class="aside__count-results-text">Total cats: </div>
                        <div class="aside__count-result" id="count_result">0 cats</div>
                    </div>
                </div>
            </aside>
            <div class="cats">
                <ul id="items_container">
                    {{{body}}}
                </ul>
            </div>
        </main>
    </div>
</body>

</html>